@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/all.css';

:root {
  font-family:  'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 400;

  /* COLORS */
  --color-white: #FFFFFF;
  --color-primary: #259FBA;
  --color-grey: #1D1D1D;
  --color-primary-light: rgba(37, 159, 186, 0.075);

  /* SPACE */
  --space-xxs: .2rem;
  --space-xs: .6rem;
  --space-sm: 1rem;
  --space-med: 2rem;
  --space-lg: 5rem;
  --space-xl: 12rem;
}

html {
  font-size: 125%;
}

input:focus {
  outline: 2px solid var(--color-primary);
  border-radius: 2px;
}

/* ====== RESET (Josh Comeau) ====== */
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ====== GRID SYSTEM ====== */
body {
  display: grid;

  grid-template-columns: 1fr repeat(10, 1fr) 1fr;
  grid-template-rows: 52vh repeat(2, min-content) 5rem;

  & > *:not(:first-child) {
    padding: var(--space-med);
  }
}

/* ====== HEADER ====== */

header {
  grid-column: 1 / -1;

  background: linear-gradient(to right, rgba(0,0,0, 0.625), rgba(0,0,0, 0.625)), url('/src/img/ht-containers.jpg');
  background-size: cover;
  background-position: right bottom 8%;
  display: flex;
  flex-direction: column;
  z-index: 1;

  .logo {
    width: 30%;
    background: var(--color-grey);
    padding: .5rem;
    padding-right: 3.5rem;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  }

  .copy {
    color: var(--color-white);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: var(--space-lg);

    h1 {
      font-weight: bold;
      font-size: 3.5rem;
    }

    p {
      font-size: 2.6rem;
      font-weight: 300;
    }
  }

  .blue-clip-path {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  }
}

/* ====== MAIN COPY ====== */

.main-copy {
  position: relative;
  grid-column: 1 / -1;

  .blue-clip-path {
    position: absolute;
    top: -0.9rem;
    left: 0;
    z-index: 0;
    background: var(--color-primary);
    height: 2rem;
    width: 80%;
    clip-path: polygon(0 0, 100% 0, 98% 100%, 0 100%);
  }

  & h2 {
  font-size: 2rem;
  margin-bottom: .2rem;
  }

  & p {
    text-align: center;
  }
}

/* ====== CALCULATION ====== */

form.calculation {
  grid-column: 1 / -1;

  background: var(--color-primary-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);

  & > *:not(:last-child) {
    width: 100%;
  }

  & button {
    align-self: flex-end;
    padding: var(--space-xxs) var(--space-med);
    border-radius: 3px;
    border: 2px solid transparent;
    background: var(--color-primary);
    color: var(--color-white);
    font-weight: 500;
    text-transform: uppercase;
    transition: all .2s;
    cursor: pointer;
  }

  & button:hover {
    border: 2px solid var(--color-grey);
    background: var(--color-primary);
    color: var(--color-grey);
  }

  & label {
    font-size: .9rem;
    font-weight: 500;
  }

  & .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    & > * {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: var(--space-xs);

      & h3 {
        font-size: 1.3rem;
        width: 15rem;
        align-self: center;
      }

      & .fa-solid {
        font-size: 1rem;
        color: var(--color-grey);
      }

      & .col-input {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: end;
        gap: var(--space-sm);

        & input {
          background: transparent;
          border: none;
          border-bottom: 2px solid var(--color-grey);
          width: 5rem;
          text-align: center;
        }
      }
    }
  }

  & .savings {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & .container {
      display: flex;
    }

    & .col-input {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      gap: var(--space-sm);

      & input {
        background: transparent;
        border: none;
        border-bottom: 2px solid var(--color-grey);
        width: 7rem;
        text-align: center;
      }
    }
  }
}

/* ====== FOOTER ====== */


footer.footer {
  padding: 0;
  grid-column: 1 / -1;
  background: var(--color-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  & > * {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  & .contact {
    background: var(--color-primary);
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    position: absolute;
    width: 33%;
    bottom: 0;
    height: calc(100% + 1.1rem);
    font-size: 2.6rem;
    font-weight: bold;
  }
  

  & .tel, .email {
    color: var(--color-white);

    & i {
      margin-right: var(--space-xs);
    }
  }
}