@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/all.css';

:root {
  font-family:  'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 400;

  /* COLORS */
  --color-white: #FFFFFF;
  --color-primary: #259FBA;
  --color-grey: #1D1D1D;
  --color-primary-light: rgba(37, 159, 186, 0.075);

  /* SPACE */
  --space-xxs: .2rem;
  --space-xs: .6rem;
  --space-sm: 1rem;
  --space-med: 2rem;
  --space-lg: 5rem;
  --space-xl: 12rem;
}

html {
  font-size: 125%;
}

h1 {
  font-weight: bold;
  font-size: 3.5rem;
}

h3 {
  font-size: 1.5rem;
  width: 17rem;
  align-self: center;
  text-align: center;
}

input:focus {
  outline: 2px solid var(--color-primary);
  border-radius: 2px;
}

label {
  font-size: .9rem;
  font-weight: 500;
}

/* ====== RESET (Josh Comeau) ====== */
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ====== GRID SYSTEM ====== */
body {
  display: grid;
  grid-template-columns: 1fr repeat(10, 1fr) 1fr;
  grid-template-rows: 52vh repeat(3, min-content) 5rem;
}

/* ====== HEADER ====== */

header {
  grid-column: 1 / -1;

  background: linear-gradient(to right, rgba(0,0,0, 0.625), rgba(0,0,0, 0.625)), url('/src/img/ht-containers.jpg');
  background-size: cover;
  background-position: right bottom 8%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;

  .logo {
    position: relative;
    top: 0;
    left: 0;
    width: 30%;
    background: var(--color-grey);
    padding: .5rem;
    padding-right: 3.5rem;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  }

  .copy {
    color: var(--color-white);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: var(--space-lg);

    p {
      font-size: 2.6rem;
      font-weight: 300;
    }
  }

  .blue-clip-path {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  }
}

/* ====== MAIN COPY ====== */

.main-copy {
  padding: var(--space-med);
  position: relative;
  grid-column: 1 / -1;

  .blue-clip-path {
    position: absolute;
    top: -0.9rem;
    left: 0;
    z-index: 0;
    background: var(--color-primary);
    height: 2rem;
    width: 80%;
    clip-path: polygon(0 0, 100% 0, 98% 100%, 0 100%);
  }

  & h2 {
  font-size: 2rem;
  margin-bottom: .2rem;
  }

  & p {
    text-align: center;
  }
}

/* ====== CALCULATION ====== */

form.calculation {
  padding: var(--space-med);
  grid-column: 1 / -1;

  background: var(--color-primary-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);

  & > *:not(:last-child) {
    width: 100%;
  }

  & .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: var(--space-med);

    & > * {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: var(--space-xs);

      & .fa-solid {
        font-size: 1rem;
        color: var(--color-grey);
      }

      & .col-input {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: end;
        gap: var(--space-sm);

        & input {
          background: transparent;
          border: none;
          border-bottom: 2px solid var(--color-grey);
          width: 5rem;
          text-align: center;
        }
      }
    }
  }

  & .savings {
    width: 100%;
    display: flex;
    flex-direction: column;

    & .container {
      /* Heads up the above '.container' targets this '.container' */
      display: flex;
      justify-content: space-around;
    }

   
    & .col-input {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      gap: var(--space-sm);

      & input {
        background: transparent;
        border: none;
        border-bottom: 2px solid var(--color-grey);
        width: 7rem;
        text-align: center;
      }
    }
  }
}

/* ====== COMPARE ====== */

.compare {
  padding: var(--space-med);
  font-size: .9rem;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-med);

  & .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: var(--space-med);

    & .calculations {
      & > h3 {
        margin-bottom: var(--space-sm);
      }
    }

    & > * {
      display: flex;
      flex-direction: column;
      min-width: 20rem;
      max-width: 50%;
      gap: var(--space-xs);

      &:not(:last-of-type) {
        gap: var(--space-sm);
      }

      & .middle-heading {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & h3 {
        height: 4rem;
        width: 100%;
        margin-bottom: var(--space-xxs);

        & span {
          font-size: 1rem;
        }

        &:last-of-type {
          margin-top: var(--space-xs);
          margin-bottom: var(--space-xs);
          span {
            font-size: inherit;
            color: var(--color-primary)
          }
        }
      }

      & .col-input {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: end;
        gap: var(--space-sm);

        & input {
          background: transparent;
          border: none;
          border-bottom: 2px solid var(--color-grey);
          width: 5rem;
          text-align: center;
        }

        &.col-input-compare-e,
        &.col-input-compare-h {
          margin-top: var(--space-xxs);
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          text-align: center;
          gap: var(--space-sm);

          & input {
            background: transparent;
            border: none;
            border-bottom: 2px solid var(--color-grey);
            width: 7rem;
            text-align: center;
          }
        }
      }
    }

    & .offering {
      display: flex;
      flex-direction: column;
      gap: var(--space-sm);

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);

        & li {
          display: flex;
          align-items: center;
          gap: var(--space-sm);
          height: min-content;

          & i {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 5px;
            background: var(--color-grey);
            color: var(--color-primary);
          }

          & p {
            font-weight: bold;
          }
        }
      }

      & .card {
        display: flex;
        flex-direction: column;

        & .banner {
          position: relative;
          background: var(--color-grey);
          color: var(--color-white);
          display: flex;
          justify-content: space-between;
          padding: var(--space-xs) var(--space-med);
          font-weight: bold;

          & .highlight {
            background-color: var(--color-primary);
            position: absolute;
            width: var(--space-xs);
            left: 0;
            top: 0;
            bottom: 0;
          }
        }

        & > p {
          text-align: center;
          padding: var(--space-xxs) 0;
        }
      }
    }
  }

  & button {
    align-self: flex-end;
    padding: var(--space-xxs) var(--space-med);
    border-radius: 3px;
    border: 2px solid transparent;
    background: var(--color-primary);
    color: var(--color-white);
    font-weight: 500;
    text-transform: uppercase;
    transition: all .2s;
    cursor: pointer;
  }

  & button:hover {
    border: 2px solid var(--color-grey);
    background: var(--color-primary);
    color: var(--color-grey);
  }
}

/* ====== FOOTER ====== */

.footer {
  padding: 0;
  grid-column: 1 / -1;
  background: var(--color-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  & > * {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  & .contact {
    background: var(--color-primary);
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    position: absolute;
    width: 33%;
    bottom: 0;
    left: 0;
    height: calc(100% + 1.1rem);
    font-size: 2.6rem;
    font-weight: bold;
  }
  

  & .tel, .email {
    color: var(--color-white);

    & i {
      margin-right: var(--space-xs);
    }
  }
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 110%;
  }

  header .copy {
    & h1 {
      font-size: 3rem;
    }

    & p {
      font-size: 2rem;
    }
  }

  .footer > .contact {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 43.75em) {
  html {
    font-size: 100%;
  }

  .footer {
    flex-direction: column;
    gap: var(--space-xxs);
    padding: var(--space-sm) !important;

    & .space-holder {
      display: none;
    }

    & .contact {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (max-width: 43.75em) {
  header {
    & > .logo {
      width: 50%;
    }

    & > .copy {
      & h1 {
        font-size: 2rem;
      }
  
      & p {
        font-size: 1.5rem;
      }
    }
  }
  
  .footer > .contact {
    display: none;
  }
}

@media only screen and (max-width: 26.57em) {
  header {
    & > .logo {
      width: 100%;
      clip-path: unset;
      padding: var(--space-xs);
      height: 30%;

      & > img {
        height: 100%;
        margin: 0 auto;
      }
    }
  }
}

@media print {
  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}